/* Footer
-----------------------------------------------------------------------------*/

footer {
	background-color: $color-stone;
	background-size: cover;
	letter-spacing: .17rem;
	padding-top: 1.5rem;
	display: inline;
}
footer p {
	color: $color-grey;
	font-size: .8rem;
}