/* Header
-----------------------------------------------------------------------------*/
.header-image {
	background-color: $color-grey;
	background-size: cover;
	background-position: 40% center;
	padding: 17rem 0 5rem;
}