body.modal-shown {
    overflow: hidden;
    padding-right: 15px;
}
.modal-wrapper {
    height: 0;
    transition: $transition-long;
    opacity: 0;
    overflow-x: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0,0,0,0.4);
}
.modal-close {
    height: 2rem;
    width: 2rem;
    top: .5rem;
    right: 1.5rem;
    cursor: pointer;
    &:after,
    &:before {
        content: '';
        display: block;
        width: 1px;
        height: 2rem;
        background-color: #fff;
        transition: $transition;
        position: absolute;
        right: 1rem;
    }
    &:hover {
        &:after,
        &:before {
            background-color: $color-green-bright;
        }
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}
.modal-shown .modal-wrapper {
    height: auto;
    opacity: 1;
}
.modal {
    background: #FFF;
    width: 95%;
    max-width: 40rem;
    margin: 3rem auto;
}
.modal-close {
    display: inline-block;
    outline: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5rem;
    position: absolute;
    top: .8rem;
    right: 1rem;
    color: $color-grey;
    &:hover {
        color: $color-grey;
    }
}
.modal-image {
    position: relative;
    transition: $transition;
    &:after {
        content: '+';
        font-size: 4em;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: $transition;
    }
    img {
        transition: $transition;
        display: block;
    }
    &:hover {
        background-color: #000;
        &:after {
            opacity: 1;
        }
        img {
            opacity: .5;
        }
    }
}