
/* Nav bar
-----------------------------------------------------------------------------*/
.global-navigation {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #666;
    font-size: 0.88em;
    background-color: #FFF;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid $color-taupe-darker;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav {
	font-style: normal;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .17rem;
	li {
		display: inline-block;
		text-transform: uppercase;
		border-bottom: .5em solid transparent;
		vertical-align: bottom;
		&:last-child {
			padding-right: 0;
		}
		@media (max-width: $break-smaller) {
			&:first-child a {
				padding-left: 0;
			}
			&:last-child a {
				padding-right: 0;
			}
		}
	}
	ul {
		@media (max-width: $break-smaller) {
			float: none;
			text-align: center;
		}
	}
	a {
		color: #888686;
		padding: 1.5rem;
		display: inline-block;
		&:hover {
			color: $color-grey;
		}
		@media (max-width: $break-smaller) {
			padding: 1.5rem .7rem;
		}
	}
	p {
		color: #fff;
	}
	.current-menu-item {
		border-bottom-color: $color-blue;
	}
}
.nav-home-link {
	font-size: 5em;
	a {
		color: $color-blue;
		padding: 0 0 .5rem 0;
	}
}