
/* Nav bar
-----------------------------------------------------------------------------*/
.global-navigation {
    width: 100%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #666;
    font-size: 0.88em;
    background-color: #FFF;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid $color-taupe-darker;
    z-index: 1000;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
}

nav {
	font-style: normal;
	font-weight: 700;
	border-color: #E7E5E5;
	border-style: solid;
	border-width: .15em;
	font-size: .7rem;
	letter-spacing: .17rem;
	li {
		display: inline-block;
		text-transform: uppercase;
		&:last-child {
			padding-right: 0;
		}
		@media (max-width: $break-smaller) {
			&:first-child a {
				padding-left: 0;
			}
			&:last-child a {
				padding-right: 0;
			}
		}
	}
	ul {
		float: right;
		@media (max-width: $break-smaller) {
			float: none;
			text-align: center;
		}
	}
	a {
		color: #888686;
		padding: 1.5rem;
		display: inline-block;
		&:hover {
			color: $color-grey;
		}
		@media (max-width: $break-smaller) {
			padding: 1.5rem .7rem;
		}
	}
	p {
		color: #fff;
	}
}