@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.svg#icomoon') format('svg'),
        url('/fonts/icomoon.woff') format('woff'),
        url('/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5em;
}
.icon-logo:before {
    content: "\e600";
}
.icon-facebook:before {
    content: "\ea8d";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-yelp:before {
    content: "\ead9";
}
html {
	font-family: $font-header;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1 {
	visibility: hidden;
}
h2 {
	font-family: $font-header;
	font-style: normal;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.5;
	letter-spacing: 2px;
	color: $color-blue;
	text-transform: uppercase;
	padding-top: 1rem;
}
h3 {
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5;
	letter-spacing: 2px;
	color: $color-blue;
	text-transform: uppercase;
}
h4 {
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 1.7;
	letter-spacing: 2px;
	color: $color-blue;
	text-transform: uppercase;
}
h5 {
	font-style: italic;
	font-weight: 400;
	font-size: 1rem;
	line-height: 0.2;
	letter-spacing: 2px;
	color: $color-blue;
}
p {
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	color: $color-blue;
	font-size: 1rem;
	margin-bottom: .5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}
a {
	text-decoration: none;
	color: $color-blue;
	transition: $transition;
	&:hover {
		color: saturate(darken($color-blue, 30), 30);
	}
}
blockquote {
    font-family: "kepler-std-extended-subhead", serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5;
    color: $color-blue;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: .04rem;
}
.screen-reader {
	position: absolute;
	top: -9999px;
	left: -9999px;
}