/* Layout
-----------------------------------------------------------------------------*/

$gutter: 3%;

$break-smallest: 550px;
$break-smaller: 720px;
$break-small: 880px;
$break-med: 1200px;
$break-large: 1760px;

$break-nav: 750px;

/* Color
-----------------------------------------------------------------------------*/

$color-blue: #162638;
$color-green: #C5ECE5;
$color-green-dark: #4EB6A3;
$color-green-bright: #00FFD0;
$color-stone: #F6F6F6;
$color-slate: #646372;
$color-grey-light: #A8A8A8;
$color-grey-medium: #888686;
$color-grey: #494847;
$color-grey-dark: #2C2A2C;
$color-red: #ED5154;
$color-pink: #CA1A49;
$color-taupe: #EBEBE4;
$color-taupe-darker: #C2C6C9;
$color-purple: #462352;


/* Typography
-----------------------------------------------------------------------------*/

$font-header: "proxima-nova-alt",Helvetica,Arial,sans-serif;
$font-normal: 400;
$font-bold: 700;

$transition: all 0.2s ease-in-out;
$transition-long: all 0.5s cubic-bezier(0.51, 0.01, 0.37, 0.98);
